---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer **secret***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"***secret***","username":"jondot","name":"Dotan
        Nahum","url":"https://medium.com/@jondot","imageUrl":"https://cdn-images-1.medium.com/fit/c/200/200/1*qyTVPi5bg0s9pbFf_CBnWg.png"}}'
  recorded_at: Fri, 25 Dec 2015 16:26:06 GMT
- request:
    method: post
    uri: https://api.medium.com/v1/users/***secret***/posts
    body:
      encoding: ASCII-8BIT
      string: title=a%20frontmatter%20post&contentFormat=html&content=%3Chr%3E%0A%3Cp%3Etitle%3A%20a%20frontmatter%20post%0A%E2%80%94%3C%2Fp%3E%0A%0A%3Cp%3EThis%20is%20a%20frontmatter%20with%20markdown%0A%2A%20one%0A%2A%20two%3C%2Fp%3E%0A%0A&publishStatus=draft
    headers:
      Authorization:
      - Bearer ***secret***
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
      Location:
      - https://medium.com/@jondot/**id**
    body:
      encoding: UTF-8
      string: '{"data":{"id":"**id**","title":"a frontmatter post","authorId":"***author***","url":"https://medium.com/@jondot/**id**","canonicalUrl":"","publishStatus":"draft","license":"all-rights-reserved","licenseUrl":"https://medium.com/policy/9db0094a1e0f","tags":[]}}'
  recorded_at: Fri, 25 Dec 2015 16:26:09 GMT
recorded_with: VCR 3.0.1
